################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FractureEdit/FractureEdit/Debug/bin
/FractureEdit/FractureEdit/Debug/int/FractureEdit.tlog
/FractureEdit/FractureEdit/Debug/int
